<article id="article_contact">
        <section id="section_presentation" class="bold">
            Alexandre Rouly
            <br>
            <span style="font-size: 2rem;">Votre coach sportif personnel</span>
        </section>
        <aside id="aside_contact">
            <form method="post" class="bold">
                <p class="light">Vous pouvez obtenir des conseils gratuits de moi tous les jours sur la façon de se
                    mettre en forme. <br> Chaque jour est un jour pour se reprendre en main ! <br>
                    Si vous voulez directement m'envoyez un mail contacter moi au <span style="color: #BB2D3B;">
                        <strong> alexandrerouly@gmail.com </strong></span></p>
                <div class="m-0">
                    <label for="exampleInputName" class="form-label"></label>
                    <input type="text" class="form-control" id="exampleInputName" placeholder="Prénom & Nom">
                </div>
                <div class="m-0">
                    <label for="exampleInputEmail1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Email">
                </div>
                <div class="mb-4">
                    <label for="exampleInputPhone" class="form-label"></label>
                    <input type="tel" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp"
                        placeholder="Numéro de téléphone">
                </div>
                <button type="submit" class="btn btn-danger btn-lg" id="button_contact">Envoyer</button>
            </form>
        </aside>
    </article>




    <article id="article_about" class="my-5 p-5 text-light container justify-content-center">
        <h1 class="bold"> + De 7 ans d'expériences </h1>
        <p class="light" id="p_about">Un repas est un moment où l'on mange de la nourriture préparée à un moment
            spécifique.
            Il peut également désigner la nourriture consommée lors de cet événement.
            En anglais, les noms utilisés pour décrire des repas spécifiques varient selon la culture,
            l'heure de la journée ou la taille du repas. Les repas ont généralement lieu à des moments précis de la
            journée.</p>

        <iframe id="youtube" width="560" height="360" class="rounded-4" src="https://www.youtube.com/embed/HQfF5XRVXjU"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>

        <h2 class="bold mt-5" id="h2_about"> <em> “ Seek Opportunities To Show You Care.
                The Smallest Gestures Often Make
                The Biggest Difference.“ </em></h2>
    </article>






    <article id="article_choosing">
        <h1 class="bold mb-5" id="h1_choosing"><strong> Pourquoi me faire confiance ? </strong> </h1>
        <div id="div_card_choosing">
            <div class="card mx-5 my-3" style="width: 25rem; position: relative;">
                <img src="./img/food.jpg" class="card-img-top" alt="food">
                <div class="card-body">
                    <p class="card-text bold p_card_chossing"><strong>Stratégie de nutrition</strong> </p>
                </div>
            </div>
            <div class="card mx-5 my-3" style="width: 25rem; position: relative;">
                <img src="./img/workout_routine.jpg" class="card-img-top" alt="food">
                <div class="card-body">
                    <p class="card-text bold p_card_chossing"><strong>Workout routine</strong></p>
                </div>
            </div>
            <div class="card mx-5 my-3" style="width: 25rem; position: relative;">
                <img src="./img/support_motivation.jpg" class="card-img-top" alt="food">
                <div class="card-body">
                    <p class="card-text bold p_card_chossing"><strong>Support & motivation</strong></p>
                </div>
            </div>
        </div>
    </article>






    <article class="mt-5 p-5" id="article_inter_program">
        <h1 class="bold text-light p-2"> <strong> Commence à transformer ton corps dés aujourd'hui ! </strong> </h1>
        <p class="light text-light p-2">Start working on your body today, and with our individual fitness program,
            already
            in 12 week you will see a totally difference in the mirror!</p>
        <a class="nav-link mx-2 text-light" href="#"><button type="button"
                class="btn btn-danger btn-group-lg p-3 bold "> <strong> Obtient un programme personnalisé rapidement et
                    simplement </strong> </button></a>
    </article>







    <article id="my_services">
        <h1 class="bold" id="h1_myservices">Mes services</h1>
        <section class="section_services">
            <img class="service_img m-4" src="./img/service_food.jpg" alt="service_food">
            <div class="div_services p-5 m-4">
                <h3 class="h3_my_services">Plan de nutrition <br> personnalisé</h3> <br>
                <p class="light">A meal is an eating occasion that takes place at a certain time and includes specific,
                    prepared ... <br>
                    The type of meal served or eaten at any given time varies by custom and location. In most modern
                    cultures meal preparation.</p>
                <a href="#" class="read_more text-danger bold">Read More</a>
            </div>
        </section>
        <section class="section_services">
            <div class="div_services p-5 m-4">
                <h3 class="h3_my_services">Des exercices <br> personnalisés programmés</h3> <br>
                <p class="light">A meal is an eating occasion that takes place at a certain time and includes specific,
                    prepared ... <br>
                    The type of meal served or eaten at any given time varies by custom and location. In most modern
                    cultures meal preparation.</p>
                <a href="#" class="read_more text-danger bold">Read More</a>
            </div>
            <img class="service_img m-4" src="./img/service_personalize.jpg" alt="service_personalize">
        </section>
        <section class="section_services">
            <img class="service_img m-4" src="./img/service_routine.jpg" alt="service_routine">
            <div class="div_services p-5 m-4">
                <h3 class="h3_my_services">Un programme <br> de routine individuel</h3> <br>
                <p class="light">A meal is an eating occasion that takes place at a certain time and includes specific,
                    prepared ... <br>
                    The type of meal served or eaten at any given time varies by custom and location. In most modern
                    cultures meal preparation.</p>
                <a href="#" class="read_more text-danger bold ">Read More</a>
            </div>
        </section>
        <div class="mt-5" id="button_myservices">
            <button class="btn btn-danger btn-lg p-3 rounded-1"> <span class="bold"> Voir tous mes services
                </span></button>
        </div>
    </article>






    <article class="mt-5 p-5" id="article_avis">
        <section id="section_avis">
            <h2 class="bold mt-5 text-light" id="h2_avis"> <em> “ Seek Opportunities To Show You Care.
                    The Smallest Gestures Often Make
                    The Biggest Difference.“ </em></h2>
            <div class="text-light light" id="div_section_avis">
                <h4> Julien Lemau </h4>
                <p>Client depuis 2 ans</p>
            </div>
        </section>
    </article>








    <article class="my-5" id="article_program">
        <section id="section_program">
            <div class="div_program mb-3"> <img src="./img/icone/eco-food.png" alt="meal" class="icone_program me-3">
                <div class="h5_p_program">
                    <h5 class="bold"><strong> Meal Plan </strong></h5>
                    <p class="light">The type of meal served <br> at any given time varies by location.</p>
                </div>
            </div>
            <div class="div_program mb-3"> <img src="./img/icone/to-do-list.png" alt="list" class="icone_program me-3">
                <div class="h5_p_program">
                    <h5 class="bold"><strong> Workout Plan </strong></h5>
                    <p class="light">The type of meal served <br> at any given time varies by location.</p>
                </div>
            </div>
            <div class="div_program mb-3"> <img src="./img/icone/cardio.png" alt="Cardio" class="icone_program me-3">
                <div class="h5_p_program">
                    <h5 class="bold"><strong> Cardio Program </strong></h5>
                    <p class="light">The type of meal served <br> at any given time varies by location.</p>
                </div>
            </div>
            <div class="div_program mb-3"> <img src="./img/icone/chronograph-watch.png" alt="Coaching"
                    class="icone_program me-3">
                <div class="h5_p_program">
                    <h5 class="bold"><strong> Coaching </strong></h5>
                    <p class="light">The type of meal served <br> at any given time varies by location.</p>
                </div>
            </div>
            <div class="div_program mb-3"> <img src="./img/icone/weight.png" alt="Weight" class="icone_program me-3">
                <div class="h5_p_program">
                    <h5 class="bold"><strong> Weight Lifting </strong></h5>
                    <p class="light">The type of meal served <br> at any given time varies by location.</p>
                </div>
            </div>
            <div class="div_program mb-3"> <img src="./img/icone/slimming.png" alt="Fitness" class="icone_program me-3">
                <div class="h5_p_program">
                    <h5 class="bold"><strong> Fitness </strong></h5>
                    <p class="light">The type of meal served <br> at any given time varies by location.</p>
                </div>
            </div>
        </section>
        <aside class="my-5 p-5" id="aside_program">
            <p class="light">Sculte le corps de ton choix</p>
            <h4 class="bold" id="h4_aside_program"><strong> Pack de 12 semaine </strong></h4>
            <p class="bold"> <span id="price_program"> 49€ </span>
                <span id="span_aside_program">par mois</span>
            </p>
            <p>Devient un membre</p>
            <button class="btn btn-danger btn-lg p-3 rounded-5"> <span class="bold"> Acheter le Pack
                    maintenant</span></button>
        </aside>
        <div class="my-5" id="div_program">
            <h3 class="bold" id="h3_div_program"> <strong> Besoin de plus d'information ? </strong></h3>
            <p class="light" id="p_div_program">Pour plus d'information <a href="#"
                    id="span_div_program"><strong>Contactez moi ici</strong></a> afin d'en savoir plus sur un programme
                personnalisé et les tarifs.</p>
        </div>
    </article>







    

    <article class="my-5 d-flex justify-content-center" id="article_articles">
        <section class="mx-3 my-5" id="section_articles">
            <h3 class="bold text-light p-5">Retrouvez mes différents <a href="#" id="a_section_articles">articles</a>
                sur le monde du sport ou sur mon projet de Coach Sportif !</h3>
        </section>
        <div id="carouselExampleFade" class="carousel slide carousel-fade mx-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./img/carousel/boxe.jpg" class="d-block img_carousel my-5" alt="boxe">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="bold">Article 1</h5>
                        <p class="light">Voici le sujet de mon article 1</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./img/carousel/surf.jpg" class="d-block img_carousel my-5" alt="surf">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="bold">Article 2</h5>
                        <p class="light">Voici le sujet de mon article 2</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./img/carousel/athletisme.jpg" class="d-block img_carousel my-5" alt="athletisme">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="bold">Article 3</h5>
                        <p class="light">Voici le sujet de mon article 3</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </article>