		<footer class="d-flex row justify-content-center">
			<div class="border_footer col-3"></div>
			<div class="p-5 col-5" id="div_footer_contact">
				<strong>
					<h2 class="bold text-light">
						Contact Infos
					</h2>
				</strong>
				<div id="div_footer">
					<h6 class="my-4 fs-5 text">Téléphone : 06.47.38.71.56</h6>
					<h6 class="my-4 fs-5 text">Email : alexandrerouly@gmail.com</h6>
					<h6 class="bold my-4 fs-5 text" id="footer_reseaux">
						Mes réseaux :
						<a href=""><img src="./img/social_footer/instagram.png" alt="instagram" class="img_footer mx-3"></a>
						<a href=""><img src="./img/social_footer/facebook.png" alt="facebook" class="img_footer mx-3"></a>
						<a href=""><img src="./img/social_footer/tik-tok.png" alt="tik-tok" class="img_footer mx-3"></a>
					</h6>
				</div>
			</div>
			<div class="border_footer col-3"></div>
		</footer>