<header class="bold d-flex justify-content-center">
	<nav class="navbar navbar-expand-lg p-0">
		<div class="container-fluid d-flex justify-content-center" id="navHeader">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div
					class="navbar-nav container d-flex justify-content-center" id="navElements">
					<!-- <a class="nav-link active ms-5" aria-current="page" href="#"></a> -->
					<a class="nav-link mx-2 text-light" href="#">Articles</a>
					<a class="nav-link mx-2 text-light" href="#">Programmes</a>
					<a class="navbar-brand mx-5 text-danger" href="#" id="logoAR">ARCoaching</a>
					<a class="nav-link mx-2 text-light" href="#">A propos</a>
					<a class="nav-link mx-2 text-light" href="#"><button type="button" class="btn btn-danger btn-group-lg p-3 ">Me Contacter</button></a>
					{% if app.user %}<a class="nav-link mx-2 text-light" href="#"><a class="nav-link mx-2 text-light" href="{{ path("app_logout") }}">Déconnexion</a>{{ app.user.email }}</a>
					{% else %}
					<a class="nav-link mx-2 text-light" href="{{path("app_login")}}">Connexion</a>
					{% endif %}
				</div>
			</div>
		</div>
	</nav>
</header>
