{% extends 'base.html.twig' %}

{% block title %}Page de Contact
{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ asset('contact.css') }}">
{% endblock %}
	

{% block body %}
	

	<article id="article">
		<section id="section">
            <h1 class="bold text-light mt-5"> Contactez-moi !</h1>
			{{ form(formulaire) }}
			</section>
		</article>
{% endblock %}



